.jumbotron{
  background-color: rgba(55,184,133,1);
  color:#FFF;
  /*text-shadow: -1px 0  rgba(55,184,133,1), 0 1px rgba(55,184,133,1), 1px 0 rgba(55,184,133,1), 0 -1px rgba(55,184,133,1);
  position: relative;
  z-index: 1;   
  opacity: 1;*/
}
/*.jumbotron::after {
  content: "";
  background: url("../img/banner.jpg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/
main>.jumbotron{
  padding-top:100px;
}
.jumbotron-heading{
  border-radius:0;
}
.jumbotron-heading h1{
  color:rgba(255,255,255,0.95);
  font-weight:900;
}
.footer {
    background-color: #f5f5f5;
}
.card-hotel{
  flex: 1 180px;
  margin:10px 0 0 4px;
}
.card-hotel .card-header{
  padding:0.25rem 0.5rem;
  font-size:85%;
}
.card-hotel .card-img{
  border-radius:0;
}
.card-hotel .card-body{
  padding:0.25rem 0.5rem 0;
}
.card-hotel .card-body .card-title{
  padding:0.25rem 0 0;
  font-size:150%;
  margin-bottom: 0;
}
.card-hotel .card-btn-holder{
  padding:0 0.5rem 5px;
}
.card-hotel .card-btn-holder .btn{
  border-radius:0;
}