$yellow: #ffce67;
$green: #37b885;
$red: #e83e8c;

@mixin paddingmix($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $green;
    color: $yellow;
}
main > .jumbotron {
    @include paddingmix(60px, 1rem, 2rem, 1rem);
}
@media (min-width: 576px) {
    main > .jumbotron {
        @include paddingmix(100px, 2rem, 4rem, 2rem);
    }
}
.jumbotron-heading {
    border-radius: 0;
}
.jumbotron-heading h1 {
    color: rgba(255, 255, 255, 0.95);
    font-weight: 900;
}
.footer {
    background-color: lighten($yellow, 25%);
}
.card-hotel {
    flex: 1 180px;
    margin: 10px 0 0 4px;
}
.card-hotel .card-header {
    padding: 0.25rem 0.5rem;
    font-size: 85%;
}
.card-hotel .card-img {
    border-radius: 0;
}
.card-hotel .card-body {
    padding: 0.25rem 0.5rem 0;
}
.card-hotel .card-body .card-title {
    padding: 0.25rem 0 0;
    font-size: 150%;
    margin-bottom: 0;
}
.card-hotel .card-btn-holder {
    padding: 0 0.5rem 5px;
}
.card-hotel .card-btn-holder .btn {
    border-radius: 0;
}
